footer
    background #2B4462
    > .center
        display flex
        +mobile()
            display block
    .col
        border-left 1px solid $azul
        padding 25px 20px
        padding-right 55px
        clearfix()
        +tablet()
            &:nth-child(1)
            &:nth-child(2)
                display none
        +mobile()
            max-width 100%
            display none
            &:nth-child(3)
            &:nth-child(4)
                display block
            &:nth-child(4)
                padding-top 0
        .contato-div
            width 50%
            float left
            &:last-child
                padding-left 20px
            +mobile()
                width 100%
                &:last-child
                    padding 20px 0 0
        a
            display block
            montserrat 14 bold
            color #fff
            margin-bottom 8px
            &:hover
                color $vermelho
        .lista a
            montserrat 12
            margin-bottom 4px
        .telefone
        .whatsapp
        .email
            montserrat 13 bold
            padding-left 36px
            min-height 21px
            color #fff
            margin 0 0 6px
        .telefone
            background $img('telefone.png') no-repeat top left
            span
                display block
        .whatsapp
            background $img('whats.png') no-repeat 3px center
        .email
            height 19px
            line-height 19px
            background $img('carta.png') no-repeat center left
        .endereco
            opensans 12
            color #fff
            margin 20px 0 0
    .copyright
        img
            display block
            margin-bottom 20px
        p
            margin 0
            opensans 10
            color #fff
            text-align left
            +mobile()
                span
                    font-size 0
                    display block
        a
            opensans 10
            color #fff
            display inline
            &:hover
                color #fff
                text-decoration underline
