desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$azul     = #0A7899
$vermelho = #CB3439

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,700')

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

montserrat($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
