.empresa
    margin-top 0
    padding 0
    position relative
    clearfix()
    > .center
        clearfix()
    +below($tablet)
        padding 0 5%
        .center
            width 100% !important
    .textos
        min-height 650px
        position relative
        z-index 2
        .chamada
            width 100%
            border-bottom 3px solid $vermelho
            background $azul
            background-image linear-gradient(0deg, #2A4562, $azul)
            padding 60px 0
            .center
                padding-left 680px
            h1
                montserrat 55 bold
                margin 0 0 20px
                color #fff
            h2
                opensans 20
                font-style italic
                color #fff
                margin 0
                line-height 1.4
        > .center
            padding 35px 0
            padding-left 680px
            p
                opensans 15
                color #2B4462
                font-style italic
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
        +below($tablet)
            width 47%
            float right
            min-height auto
            .chamada
                background none
                border none
                padding 20px 0
                .center
                    padding 0
                h1
                h2
                    color #2B4462
            > .center
                padding 0 0 40px
        +mobile()
            width 100%
            .chamada
                h1
                    font-size 30px
            > .center
                padding-bottom 0
    .imagens
        position absolute
        width 100%
        top 20px
        left 0
        .imagens-wrapper
            width 630px
            position relative
            z-index 3
            clearfix()
        img
            display block
            float left
            &:nth-child(1)
                width 100%
                margin-bottom 10px
            &:nth-child(2)
                width calc('46.85% - 7.333px')
            &:nth-child(3)
            &:nth-child(4)
                width calc('26.575% - 7.333px')
            &:nth-child(2)
            &:nth-child(3)
                margin-right 11px
        +below($tablet)
            position relative
            float left
            width 50%
            margin-bottom 40px
            .imagens-wrapper
                width 100%
        +mobile()
            width 100%
    .boxes
        font-size 0
        display flex
        width 100%
        +mobile()
            display block
        +below($tablet)
            float left
        .box
            display inline-block
            vertical-align top
            border-top 2px solid $azul
            border-bottom 5px solid $vermelho
            width calc('33.33% - 13.333px')
            margin-right 20px
            background #fff
            margin-bottom 20px
            padding 25px
            &:nth-child(3n)
                margin-right 0
            h3
                text-align center
                opensans 24 light
                color #2B4462
                margin 0 0 15px
                +mobile()
                    font-size 20px
            p
                margin 0
                opensans 15
                color #2B4462
            +mobile()
                width 100%
                margin-bottom 10px
                margin-right 0
