.banners
    width 100%
    height 415px
    border-bottom 3px solid $vermelho
    background $azul
    background-image linear-gradient(0deg, #2A4562, $azul)
    +tablet()
        height 400px
    +mobile()
        height 500px
    .banner
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        background-position center
        overflow hidden
        .center
            height 100%
        img
            position absolute
            height 94%
            width auto
            top 3%
            right 0
            +tablet()
                width 50%
                max-width 500px
                height auto
                top 50%
                transform translateY(-50%)
            +mobile()
                position absolute
                top 25px
                left 50%
                right auto
                height 200px
                width auto
                transform translateX(-50%)
        .banner-texto
            display table
            height 100%
            width 45%
            div
                display table-cell
                vertical-align middle
            h2
                margin 0 0 20px
                montserrat 55 bold
                color #fff
                line-height 1
            p
                opensans 20
                margin 0 0 30px
                font-style italic
                color #fff
            a
                display inline-block
                montserrat 14 bold
                color #fff
                border 1px solid #fff
                transition background .3s, color .3s
                padding 16px 32px
                &:hover
                    background #fff
                    color #000
            +tablet()
                h2
                    font-size 45px
                    margin-bottom 15px
                p
                    font-size 18px
                    margin-bottom 20px
            +mobile()
                width 100%
                padding-top 200px
                text-align center
                h2
                    font-size 30px
                    margin-bottom 10px
                p
                    font-size 15px
                    margin-bottom 15px
                a
                    padding 10px 20px
    .cycle-pager
        position absolute
        bottom 30px
        display block
        width desktop-base-width
        left 50%
        transform translateX(-50%)
        color #fff
        font-size 0
        +below($tablet)
            display none
        a
            display inline-block
            width 12px
            height 12px
            border 1px solid #fff
            border-radius 100%
            transition background .3s
            margin-right 5px
            &.cycle-pager-active
                background #fff

.chamadas
    padding 45px 0 25px
    +mobile()
        padding 35px 0 15px
    h2
        text-align center
        opensans 36 light
        color #2B4462
        text-align center
        margin 0 0 40px
        padding-bottom 40px
        position relative
        +mobile()
            font-size 24px
            margin-bottom 25px
            padding-bottom 25px
        &:after
            content ''
            position absolute
            width 600px
            height 1px
            bottom 0
            left 50%
            transform translateX(-50%)
            background rgba($azul, .5)
            +mobile()
                width 90%
        span
            opensans 24 light
            display block
            margin-bottom 5px
            +mobile()
                font-size 18px
    p
        margin 0 0 40px
        text-align center
        opensans 20 light
        color #2B4462
        +mobile()
            font-size 16px
            margin-bottom 25px
    .chamadas-thumbs
        font-size 0
        a
            display inline-block
            vertical-align top
            border-top 2px solid $azul
            width calc('33.33% - 13.333px')
            margin-right 20px
            margin-bottom 20px
            &:nth-child(3n)
                margin-right 0
            +mobile()
                width 100%
                margin-bottom 10px
            img
                width 100%
                display block
                padding 15px
                background #fff
            span
                display block
                opensans 14
                color #fff
                background $vermelho
                padding 8px 10px
                transition background .3s
            &:hover
                span
                    background $azul
