.orcamento
    form
        width 100%
        padding-bottom 40px
        +mobile()
            padding-bottom 20px
        clearfix()
    .left
    .right
        width calc('50% - 10px')
        +mobile()
            width 100%
    .left
        float left
    .right
        float right
    .wrapper
        background #fff
        padding 30px
        margin-bottom 20px
        +mobile()
            padding 20px
        p
            opensans 15
            margin 0 0 15px
            color #2B4462
        input
        select
        textarea
            background #ECF0F1
            outline 0
            border 0
            opensans 14
            margin-bottom 4px
            display block
            width 100%
            border-radius 0
            padding 5px 8px
            resize none
        textarea
            height 120px
            margin-top 20px
            padding 8px
        .orcamento-produtos
            margin-bottom 4px
            border-bottom 1px solid $vermelho
            opensans 15 bold
            color #2B4462
            span
                display block
                margin 4px 0
                &:last-child
                    padding-bottom 20px
                .btn-remove
                    margin-left 4px
                    opensans 11
                    font-style italic
                    color #DE2121
                    &:hover
                        text-decoration underline
    input[type='submit']
        width 100%
        display none
        border 0
        outline 0
        background transparent
        border 1px solid #2B4462
        cursor pointer
        padding 20px
        opensans 20
        color #2B4462
        white-space normal
        transition background .3s, color .3s
        +mobile()
            padding 15px
            opensans 15 bold
        &:hover
            background #2B4462
            color #fff
    .btn-adiciona
        display inline-block
        margin-top 4px
        border 1px solid #2B4462
        opensans 15
        color #2B4462
        padding 8px 12px 8px 34px
        background $img('sinal_mais.png') no-repeat 8px center
        transition background .3s, color .3s
        &:hover
            background-color #2B4462
            color #fff
    #form-orcamento-response
        display none
        width 100%
        margin-bottom 4px
        border 2px solid rgba(#000, .4)
        montserrat 12 bold
        text-transform uppercase
        color rgba(#000, .7)
        text-align center
        padding 10px
