.produtos
    padding-bottom 40px
    +mobile()
        padding-bottom 25px
    .center
        clearfix()
    nav
        width 30%
        float left
        .titulo
            margin-bottom 5px
        +mobile()
            width 100%
        a
            display block
            opensans 15
            border-bottom 1px solid $azul
            padding 6px
            padding-right 30px
            transition padding .3s
            color $azul
            text-transform uppercase
            &:hover
                padding-left 10px
            &.active
                background $azul
                color #fff
                padding-left 6px
            &.catalogo
                margin-top 20px
                background $img('pdf.png') no-repeat 10px center $vermelho
                min-height 60px
                padding 10px
                padding-left 80px
                opensans 16
                color #fff
                width calc('100% - 20px')
                border 0
                transition background .3s
                +mobile()
                    width 100%
                &:hover
                    background-color #2B4462
                span
                    opensans 12 bold
                    display block
                    margin-bottom 5px
            &.catalogo + .catalogo
                margin-top 5px
        h2
            height 24px
            margin-bottom 0 !important
        h2 + a
            border-top 1px solid $vermelho
        h2:not(:first-child)
            margin-top 40px
            +mobile()
                margin-top 20px
    .detalhes
        width 70%
        float right
        border-top 1px solid $vermelho
        background $azul
        padding 20px
        margin-top 24px
        +mobile()
            width 100%
            margin 0 0 20px
        .wrapper
            background #fff
            clearfix()
            padding 20px
        h2
            montserrat 24 bold
            color $vermelho
            margin 0 0 1em
            +mobile()
                font-size 22px
        .imagens
            clearfix()
            a
                display block
                width calc('50% - 8px')
                float left
                border 1px solid $azul
                margin-right 16px
                margin-bottom 16px
                transition border .3s
                +mobile()
                    width 100%
                    margin-bottom 16px
                &:hover
                    border-color $vermelho
                    span
                        color $vermelho
                &:nth-child(2n)
                    margin-right 0
                img
                    width 100%
                    display block
                span
                    padding 8px
                    text-align center
                    display block
                    width 100%
                    opensans 15
                    color #2B4462
                    transition color .3s
        .texto
            border-top 1px solid $azul
            padding-top 20px
            opensans 15
            color #2B4462
            margin-top 20px
            +mobile()
                overflow-x scroll
            p
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            table
                border none
                border-collapse collapse
                border-spacing 0
                margin-bottom 25px
                opensans 14
                width 100% !important
                +mobile()
                    width auto
                    min-width 100%
                &:last-child
                    margin-bottom 0
                td
                th
                    border 0
                    padding 5px
                    text-align left
                td
                    border-bottom 1px solid $azul
                    color #2B4462
                thead
                    background $vermelho
                    font-weight 700
                    color #fff
.popup-catalogo
    min-width 450px
    padding 20px
    background #DDDDD5
    text-align center
    +mobile()
        min-width auto
        width 100%
    h2
        montserrat 18 bold
        margin 0 0 1em
        color $vermelho
        text-align left
        span
            montserrat 13 bold
            display block
            margin-bottom 3px
    form
        clearfix()
        input
            background rgba(#fff, .8)
            outline 0
            border 0
            opensans 14
            margin-bottom 4px
            display block
            width 100%
            border-radius 0
            padding 5px 8px
            resize none
        input[type=submit]
            float right
            width auto
            background $vermelho
            montserrat 13 bold
            color #fff
            transition background .3s
            padding 8px 30px
            cursor pointer
            margin-bottom 0
            &:hover
                background #000
        #form-catalogo-response
            display none
            width 100%
            margin-bottom 4px
            border 2px solid rgba(#000, .4)
            montserrat 12 bold
            text-transform uppercase
            color rgba(#000, .7)
            text-align center
            padding 10px
    .catalogo-download-link
        display none
        margin 20px 0 0
        a
            display block
            width 100%
            background $vermelho
            montserrat 16 bold
            color #fff
            transition background .3s
            padding 8px 30px
            cursor pointer
            text-align center
            &:hover
                background #000
